* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background: #374151;
    color: #fff;
}

header {
    padding: 20px 10px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
    color: grey
}

#new-task-form {
    display: flex;
}

input , button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    /* flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
    flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
    flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%.*/
    flex: 1 1 0%; 
    background-color: #1F2937;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
    color: whitesmoke;
    font-size: 20px;
}

#new-task-input::placeholder{
    color: gray;
}
#new-task-submit{
    color: pink;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.5;
}

main{
    padding: 20px 10px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list h2{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
    color: grey
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#tasks .task .content{
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: whitesmoke;
    font-size: 15px;
    width: 100%;
    display: block;
    transition: 0.4s;

}

#task .task .content .text:not(:read-only) {
    color: pink;
}

#task .task .actions {
    display: flex;
    margin: 0 -5px;
}

.task .actions button {
    cursor: pointer;
    margin: 0 5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.5;
}

.task .actions .edit {
    background-image: linear-gradient(pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}